/* Body */

body {
    background-color: #414040;
}


/* NavBar */

.navbar-logo {
    font-weight: 800;
    justify-content: left;
    margin: 10px, 100px, 10px, 10px;
    background-color: #414040;
    }

.navbar-style {
    margin: auto;
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif;
    height: 100px;
    }

.navbar-style a {
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif; 
    font-size: 20px;
    }

.navbar-style li {
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif;
    }

.btn-outline-light {
    color: #d37a31;
    border-color: #d37a31;
    }

.btn-outline-light:hover {
    color: #d37a31;
    background-color: #414040;
    border-color: #d37a31;
}

/* Homepage */

/* Overlay */

.hmpg-head {
    height: 50vh;
    background: url('../assets/images/bg_space.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-hmpg {
    color:  #d37a31;
    font-family: 'Roboto Slab', serif;
    padding: 5px;
    border-radius: 5px;
} 

/* Homepage Bottom */

.btm-hmpg {
    margin: auto;
    color: #d37a31;
    display:flex;
    align-items: center;
    justify-content: center;
    text-justify: center;
    }

.hp-img {
    display: flex;
    position: relative;
    width: 100%;
    height: 30vh;
    }

.btn-warning {
    color: #141516;
    background-color: #d37a31;
    border-color: #d37a31;
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #414040;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

/* Media Queries */

/* @media screen and (min-width: 576px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 40px;
  }
} */