/* Body */

body {
    background-color: #414040;
}


/* NavBar */

.navbar-logo {
    font-weight: 800;
    justify-content: left;
    margin: 10px, 100px, 10px, 10px;
    background-color: #414040;
    }

.navbar-style {
    margin: auto;
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif;
    /* height: 10vh; */
    position: fixed;
    }

.navbar-style a {
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif; 
    font-size: 20px;
    }

.navbar-style li {
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif;
    }

.btn-outline-light {
    color: #d37a31;
    border-color: #d37a31;
    }

.btn-outline-light:hover {
    color: #d37a31;
    background-color: #414040;
    border-color: #d37a31;
}

.small-nav-logo {
    position: absolute;
    top: 2.5vh;
    right: 16px;
    }

/* Homepage */

/* Overlay */

.hmpg-head {
    height: 60vh;
    background: url('../assets/images/bg_space.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-hmpg {
    color:  #d37a31;
    font-family: 'Roboto Slab', serif;
    padding: 5px;
    border-radius: 5px;
} 

/* Homepage Bottom */

.btm-hmpg {
    margin: auto;
    color: #d37a31;
    display:flex;
    align-items: center;
    justify-content: center;
    text-justify: center;
    }

.btm-hmpg h2 {
    font-family: 'Roboto Slab', serif;  
}

.btm-hmpg p {
    font-family: 'Muli', sans-serif;  
}

.hp-img {
    display: flex;
    position: relative;
    width: 100%;
    height: 30vh;
    }

.btn-warning {
    color: #141516;
    background-color: #d37a31;
    border-color: #d37a31;
}

.card-img-top {
    width: 100%;
    height: 17.5vh;
    object-fit: cover;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #414040;
    background-clip: border-box;
    border: 1px solid #d37a31;
    border-radius: .25rem;
    margin: 5px;
}

/* Footer */

.footer-style {
    z-index: 1;
    display: flex;
    padding: 15px 5px 5px;
    color:  #d37a31;
    background-color: #414040;
    font-family: 'Roboto Slab', serif;
    height: 100px;
    align-content: center;
    padding-top: 20px;
    }

.footer-style a {
    color:  #d37a31;
    padding-top: 20px;
    padding-bottom: 5px;
    }

.footer-style p {
    color:  #d37a31;
    padding-top: 20px;
    padding-bottom: 5px;
    }

.footer-logo {
    font-weight: 800;
    background-color: #414040;
    padding-top: 20px;
    padding-bottom: 5px;
    }

.ftr-soc-lnk {
    font-size:  x-large;
}

/* Blog */

.card-auto {
    position: relative;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #414040;
    color: #d37a31;
    font-family: 'Muli', sans-serif;
    background-clip: border-box;
    border-radius: .25rem;
    margin: 5px;
    top: 30px;
}

.card-img-top-blog {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

/* Contact Page */

.jumbotron {    
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    background-color: #d37a31;
    color: #414040;
    border-radius: .3rem; 
}

.jumbotron a {
    color: #414040;
} 

.jumbotron img {
    width: 100%;
} 

.display-4 {
    text-transform: uppercase;
}

.table td, .table th {
    border-top: 1px solid #343a40;
}

/* Media Queries */

/* @media screen and (min-width: 576px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 40px;
  }
} */